services:

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

  frontend:
    build: ./apps/frontend
    ports:
      - "5173:5173"

  backend:
    build: ./apps/backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/callcenter
      - REDIS_HOST=redis
    depends_on:
      - mongo
      - redis

  worker:
    build: ./apps/backend
    command: node src/workers/integration.worker.js
    depends_on:
      - redis

  mongo:
    image: mongo
    ports:
      - "27017:27017"

  redis:
    image: redis
    ports:
      - "6379:6379"
