
services:

  mongo:
    image: mongo
    container_name: callcenter_mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: strongpassword
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis
    container_name: callcenter_redis
    restart: always
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./apps/backend
      dockerfile: Dockerfile
    container_name: callcenter_backend
    restart: always
    ports:
      - "5001:5000"
    depends_on:
      - mongo
      - redis
    env_file:
      - ./apps/backend/.env

volumes:
  mongo_data:

